<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- JDBC connection settings -->
<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=SalesDB;encrypt=false</property>
<property name="hibernate.connection.username">sa</property>
<property name="hibernate.connection.password">Ks120@120</property>

        <!-- SQL Server dialect(generate sql query for specific DB) -->
<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>

        <!-- Show SQL query used in console -->
<property name="hibernate.show_sql">true</property>

        <!-- Automatically update the schema/table -->
<property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Annotated classes -->
<mapping class="org.example.Student"/>

        </session-factory>
        </hibernate-configuration>
